* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  --primary: #3c3c3c;
  --secondary: rgb(227, 94, 95);
  --secondary-light: rgb(220, 222, 221);
}

/* Header */

.header {
  width: 96%;
  margin: auto;

  position: relative;
}

.header__menu {
  position: absolute;
  visibility: hidden;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
}

.header__nav__navlinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4.5rem;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__nav__navlinks > li > a {
  color: var(--primary);
  font-size: 1.6rem;
  font-weight: 700;
}

.header__nav__navlinks > li > a:hover,
.header__nav__navlinks > li:active {
  color: var(--secondary-light);
  background-color: var(--secondary);
}

/* Banner */

.main__container__banner__container {
  display: flex;
  gap: 0.6rem;
  width: 96%;
  margin: auto;
}

.main__container__banner__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner__container__items {
  width: 65%;
}

.banner__container__flex {
  display: flex;
  flex-direction: column;

  width: 35%;
  gap: 0.6rem;
}

/*  Featured Bar */

.mid {
  width: 96%;
  margin: auto;
  background-color: rgb(224, 95, 95);
  height: 35px;
  position: relative;
  top: 20px;
}

.mid h2 {
  text-align: center;
  position: relative;
  top: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
}

/*  Cards Container 1 */

.flexbox {
  width: 96%;
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}

/*  Cards Container 2 */

.flexboxsecond {
  width: 96%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: relative;
  top: 115px;
  margin: auto;
}

/*  Cards  */
.outer {
  width: 500px;
  padding: 2rem 2rem 1.5rem 2rem;
  background-color: rgb(221, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  Card image */

.outer img {
  width: 80%;
  border-radius: 50%;
}

/*  Cards Text */
.outer h2 {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  font-weight: 300;
  padding-bottom: 0rem;
}

.outer h1 {
  font-size: 1.8rem;
  font-weight: 700;
  padding-top: 1rem;
}

/*  Footer */

.footer {
  width: 100%;
  position: relative;
  top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  padding: 0px 0px;
  background-color: black;
}

.footer .social {
  text-align: center;
  color: white;
}

.social a {
  display: inline-block;

  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.social h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: rgb(204, 97, 97);
  position: relative;
  top: 10px;
}

.social h2 {
  font-size: 10px;
  font-family: white;
  position: relative;
  bottom: 10px;
}

.petals {
  color: rgb(165, 220, 14);
}

@media only screen and (min-width: 998px) and (max-width: 1280px) {
  .header__nav__navlinks {
    gap: 2rem;
  }

  .header__nav__navlinks > li > a {
    font-size: 1.3rem;
  }

  .flexboxsecond {
    gap: 1.3rem;
  }

  .flexbox {
    gap: 1.3rem;
  }

  .outer {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }

  .outer h2 {
    font-size: 1rem;

    padding-top: 0.3em;
    font-weight: 300;
  }

  .outer h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 0rem;
    padding-top: 0.7rem;
  }
  .footer {
    position: relative;
    top: 160px;
  }
}

/* Tablet View */

@media only screen and (min-width: 720px) and (max-width: 998px) {
  .header__nav {
    padding: 1% 0;
    width: 100%;
  }
  .header__nav__navlinks {
    gap: 2rem;
  }

  .header__nav__navlinks > li > a {
    font-size: 1.2rem;
  }

  .outer {
    padding: 1rem 1rem 1rem 1rem;
  }
  .outer h2 {
    font-size: 0.8rem;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
    font-weight: 500;
  }

  .outer h1 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
  }
  .flexboxsecond {
    gap: 1rem;
    position: relative;
    top: 80px;
  }

  .flexbox {
    gap: 1rem;
    position: relative;
    top: 60px;
  }
  .footer {
    position: relative;
    top: 130px;
  }
}

/* Tablet View */

@media only screen and (min-width: 576px) and (max-width: 720px) {
  .header__nav {
    padding: 1% 0;
    width: 100%;
  }
  .header__nav__navlinks {
    gap: 1rem;
  }

  .header__nav__navlinks > li > a {
    font-size: 1rem;
  }
  .main__container__banner__container {
    gap: 0.5rem;
  }
  .banner__container__flex {
    gap: 0.5rem;
  }

  .outer {
    padding: 1rem 1rem 1rem 1rem;
  }
  .outer h2 {
    font-size: 0.6rem;
    padding-bottom: 0rem;
    padding-top: 0.3rem;
    font-weight: 500;
  }

  .outer h1 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0rem;
    padding-top: 0.3rem;
  }
  .flexboxsecond {
    gap: 0.8rem;
    position: relative;
    top: 75px;
  }

  .flexbox {
    gap: 0.8rem;
    position: relative;
    top: 60px;
  }
  .footer {
    position: relative;
    top: 120px;
  }
}

/* Mobile View */

@media only screen and (min-width: 320px) and (max-width: 576px) {
  .header {
    width: 100%;
    margin-right: 0;
  }
  .logo {
    margin: 10px;
  }

  .header__nav {
    padding: 1%;
    justify-content: center;
  }

  /* Mobile view Menu  */

  .header__menu {
    visibility: visible;
    position: absolute;
    top: 35%;
    right: 10px;

    font-size: 0.6rem;
    color: var(--secondary-light);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0;
    margin: auto;
  }

  .header__nav__navlinks {
    position: absolute;
    flex-direction: column;
    top: 4.5rem;
    z-index: 2;
    width: 100%;
    background: var(--secondary-light);
    gap: 0;
  }

  .navlinks__transition {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0s linear 0.3s;
  }

  .navlinks__transition__toggle {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0s linear;
  }

  .header__nav__navlinks > li {
    padding: 0;
    background: var(--secondary-light);
    width: 100%;
    text-align: center;
    padding: 1.2rem;
  }

  .header__nav__navlinks > li > a {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.4rem;
    width: 100%;
  }

  .header__nav__navlinks > li:hover,
  .header__nav__navlinks > li:active {
    color: var(--secondary-light);
    background: var(--secondary);
    width: 100%;
  }

  /* Banner adjustment */

  .main__container__banner__container {
    flex-direction: column;
    gap: 0.4rem;
    width: 96%;
    margin: auto;
  }

  .banner__container__flex {
    flex-direction: row;
    gap: 0.4rem;
    width: 100%;
    margin-left: 0;
  }

  .banner__container__items {
    width: 100%;
  }

  .banner__container__flex__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flexboxsecond {
    flex-direction: column;
    position: relative;
    top: 95px;
    justify-content: center;
    width: 96%;
    margin: auto;
    align-items: center;
  }

  .flexbox {
    flex-direction: column;
    justify-content: center;
    width: 96%;
    margin: auto;
    align-items: center;
    position: relative;
    top: 65px;
  }
  .outer {
    width: 262px;

    padding: 1.5rem 1rem 1rem 1rem;
  }

  .outer h2 {
    font-size: 0.7rem;
    padding-top: 0.4rem;
    font-weight: 450;
    padding-bottom: 0rem;
  }
  .outer img {
    width: 75%;
  }

  .outer h1 {
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 0.6rem;
  }

  .footer {
    position: relative;
    width: 100%;
    top: 135px;
  }

  .mid {
    width: 96%;
    margin: auto;
  }
}

@media only screen and (min-width: 1550px) {
  .main_container {
    max-width: 1500px;
    margin: auto;
  }
  .subcontainer {
    max-width: 1540px;
    margin: auto;
  }
  .footer {
    width: 100%;
  }
}
