* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  --primary: #3c3c3c;
  --secondary: rgb(227, 94, 95);
  --secondary-light: rgb(220, 222, 221);
}

.main_container {
  max-width: 1500px;
  margin: auto;
}
.subcontainer{
  max-width: 1540px;
  margin: auto;
}
.logo{
  margin-left: 0px;
}


body {
  overflow-x: hidden;
  width: 100%;
 
 
  padding: 0;
}

html {
  font-size: 5px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main__container__banner__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Header */

.header {

  width: 100%;
  margin: auto;

  position: relative;
}

.header__menu {
  position: absolute;
  visibility: hidden;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:2rem ;
 
 
 
}

.header__nav__navlinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15rem;


}

.header__nav__navlinks>li>a {
  color: var(--primary);
  font-size: 5rem;
  font-weight: 700;

}

.header__nav__navlinks>li>a:hover,
.header__nav__navlinks>li:active {
  color: var(--secondary-light);
  background-color: var(--secondary);

}

/* Banner */



.main__container__banner__container {
  display: flex;
  gap: 0.7rem;
  margin: 10px;

}

.banner__container__items {
  width: 65%;
}

.banner__container__flex {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  width: 35%;
  margin-left: 10px;
  row-gap: 10px;
}

.mid {
  width: 98.7%;
  margin: auto;

  background-color: rgb(196, 45, 45);


  height: 35px;
  position: relative;
  top: 20px;
}

.mid p {
  text-align: center;
  position: relative;
  top: 5px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4.5rem;
}

.flexbox {
  width: 98.7%;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-between;
  gap:2rem;
  margin: auto;



}

.flexboxsecond {
  width: 98.7%;
  display: flex;
  justify-content: space-between;
 gap:2rem;
  position: relative;
  top: 85px;
  margin: auto;

}





.outer img {
  padding-top: 1rem ;
  padding-bottom: 1rem;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}





.outer {
 width: 32vw;
 height: 32vw;
  background-color: rgb(221, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.outer p {
  font-size: 3.6rem;
  padding: 1.6rem;
  font-weight: 500;
}

.outer h1 {
  font-size: 4.6rem;
  font-weight: 900;
  padding-top: 2rem;
  
}

.footer {
  width: 100%;
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  padding: 0px 0px;
  background-color: black;
}

.footer .social {

  text-align: center;
  color: white;
}

.social a {
  display: inline-block;

  padding-right: 8px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.social p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: rgb(214, 67, 67);
  position: relative;
  top: 10px;
}

.social h2 {
  font-size: 10px;
  position: relative;
  bottom: 10px;
}

.petals {
  color: rgb(42, 169, 42);
}




/* Tablet View */
@media only screen and (min-width: 992px) and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 1)
{
  .header {

    width: 100%;
    margin: auto;
  
    position: relative;
  }
  .header__nav {
   
    padding:1%;
    width: 100%;
   }
 
   .header__nav__navlinks {
     gap: 12rem;
   }
 
   .header__nav__navlinks>li>a {
     font-size: 4rem;
   }
 
 
   .flexboxsecond {
     width: 98%;
     flex-direction: row;
     margin: auto;
   }
 
   .flexbox {
     width: 98%;
     flex-direction: row;
     margin: auto;
   }
 
   .mid {
     width: 98%;
     margin: auto;
   }
   
  .outer img {
         
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  
  
  
  
  .outer {
   width: 32vw;
   height: 32vw;
    background-color:rgb(221, 216, 216) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

.outer p {
font-size: 3.5rem;
padding-bottom: 0rem;
padding-top: 1rem;
font-weight: 500;
}

.outer h1 {
font-size: 4.5rem;
font-weight: 900;
padding-bottom: 0rem;
padding-top: 2rem;

}

}


@media only screen and (min-width: 768px) and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {

    width: 100%;
    margin: auto;
  
    position: relative;
  }
 
  .main_container {
    max-width: 1280px;
    margin: auto;
  }



  .header__nav {
   
   padding: 1%;
   width: 100%;
  }

  .header__nav__navlinks {
    gap: 7rem;
  }

  .header__nav__navlinks>li>a {
    font-size: 4rem;
  }


  .flexboxsecond {
    width: 98%;
    flex-direction: row;
    margin: auto;
  }

  .flexbox {
    width: 98%;
    flex-direction: row;
    margin: auto;
  }

  .mid {
    width: 98%;
    margin: auto;
  }
  

  .outer img {
         
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    padding-top: 0rem;
    padding-bottom: 0;
  }
  
  
  
  
  
  .outer {
   width: 32vw;
   height: 32vw;
    background-color:rgb(221, 216, 216) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

.outer p {
font-size: 2.5rem;
padding-bottom: 0rem;
padding-top: 1rem;
font-weight: 500;
}

.outer h1 {
font-size: 3.5rem;
font-weight: 900;
padding-bottom: 0rem;
padding-top: 2rem;

}

  

}






/* Mobile View */
@media only screen and (min-width: 575px) and (max-width: 767px) {
  html,body{
   
    margin-right: 0px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .main_container {
    max-width: 767px;
    margin: auto;
  }
  .header{
    width: 100%;
    margin-right: 0;
  }
 .logo{
   margin: 10px;
 }


  .header__nav {
     padding: 1%;
    justify-content: center;
  }

  /* Mobile view Menu  */
  .header__menu {
    visibility: visible;
    position: absolute;
    top: 35%;
    right: 10px;

    font-size: 2rem;
    color: var(--secondary-light);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    margin: auto;
  }

  .header__nav__navlinks {
    position: absolute;
    flex-direction: column;
    top: 15rem;
    gap: 0rem;
    z-index: 2;
    width: 100%;
    background: var(--secondary-light);

  }

  .navlinks__transition {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0s linear 0.3s;
  }

  .navlinks__transition__toggle {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0s linear;

  }

  .header__nav__navlinks>li {
    padding: 5% 0;
    background: var(--secondary-light);
    width: 100%;
    text-align: center;

  }

  .header__nav__navlinks>li>a {
    color: var(--primary);
    font-weight: 500;
    font-size: 4rem;
    width: 100%;

  }

  .header__nav__navlinks>li:hover,
  .header__nav__navlinks>li:active {
    color: var(--secondary-light);
    background: var(--secondary);
    width: 100%;
  }

  /* Banner adjustment */
  .main__container__banner__container {
    flex-direction: column;
    gap: 0.5rem;
    width: 96%;
    margin: auto;

  }

  .banner__container__flex {
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    margin-left: 0;

  }

  .banner__container__items {
    width: 100%;
  }

  .banner__container__flex__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flexboxsecond {
    flex-direction: column;
    position: relative;
    top: 50px;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  .flexbox {

    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;

  }


  /*
    .flexbox1 img{
      max-height:80vw;
      max-width: 80vw;
     
      margin: auto;
     
    } 
  */
  
   .outer {
    width: 85vw;
    height: 85vw;
    background-color: rgb(221, 216, 216);
    margin-bottom: 25px;
   
  }
   
  .outer img{
    width: 57vw;
    height: 57vw;
    padding-top: 0rem;
    padding-bottom: 0;
   
 
  }

 
  

  .outer p {
    font-size: 4.5rem;
    padding-bottom: 0;
    padding-top: 3rem;
    font-weight: 500;
    
  }

  .outer h1 {
    font-size: 5.5rem;
    font-weight: 900;
    padding-bottom: 0rem;
    padding-top: 5rem;
   
  }

  .footer {
    position: relative;
    width: 100%;
    top: 65px;

  }

  .mid {
    width: 96%;
    margin: auto;

  }



}

@media only screen and (min-width: 260px) and (max-width: 575px) 
{
  html,body{
   
    margin-right: 0px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .main_container {
    max-width: 767px;
    margin: auto;
  }
  .header{
    margin-right: 0;
    width: 100%;
  }
 .logo{
   margin: 10px;
 }


  .header__nav {
    padding: 1%;
    justify-content: center;
  }

  /* Mobile view Menu  */
  .header__menu {
    visibility: visible;
    position: absolute;
    top: 35%;
    right: 10px;

    font-size: 2rem;
    color: var(--secondary-light);
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    margin: auto;
  }

  .header__nav__navlinks {
    position: absolute;
    flex-direction: column;
    top: 15rem;
    gap: 0rem;
    z-index: 2;
    width: 100%;
    background: var(--secondary-light);

  }

  .navlinks__transition {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0s linear 0.3s;
  }

  .navlinks__transition__toggle {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0s linear;

  }

  .header__nav__navlinks>li {
    padding: 5% 0;
    background: var(--secondary-light);
    width: 100%;
    text-align: center;

  }

  .header__nav__navlinks>li>a {
    color: var(--primary);
    font-weight: 500;
    font-size: 4rem;
    width: 100%;

  }

  .header__nav__navlinks>li:hover,
  .header__nav__navlinks>li:active {
    color: var(--secondary-light);
    background: var(--secondary);
    width: 100%;
  }

  /* Banner adjustment */
  .main__container__banner__container {
    flex-direction: column;
    gap: 0.5rem;
    width: 96%;
    margin: auto;

  }

  .banner__container__flex {
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    margin-left: 0;

  }

  .banner__container__items {
    width: 100%;
  }

  .banner__container__flex__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flexboxsecond {
    flex-direction: column;
    position: relative;
    top: 50px;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
  }

  .flexbox {

    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;

  }


  .outer {
    width: 78vw;
    height: 78vw;
    background-color:rgb(221, 216, 216);
    margin-bottom: 25px;
   
  }
   
  .outer img{
    width: 55vw;
    height: 55vw;
    padding: 2rem;
   
 
  }

 
  

  .outer p {
    font-size: 2.7rem;
    padding-bottom: 0rem;
    padding-top: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .outer h1 {
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 0rem;
    padding-top: 1rem;
   
  }
  .footer {
    position: relative;
    width: 100%;
    top: 65px;

  }
}
@media only screen and (min-width: 1550px) and (max-width: 4000px){
  .main_container {
    max-width: 1500px;
    margin: auto;
  }
  .subcontainer{
    max-width: 1540px;
    margin: auto;
    
  }
  .footer{
    width: 100%;
  }
}
